# Reference only — Angular does not auto-load .env.
# For local ng serve, put the key in:
#   src/environments/primeng-license.local.ts
# (copy from primeng-license.local.example.ts)
PRIMENG_LICENSE=
